<template>
    <div id='CreateTimetableView'>
        Create TimeTable
    </div>
</template>
<script>
    export default {
        name: 'CreateTimetableView',
        props: {
            //
        },
        data: () => ({
            //
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #CreateTimetableView {
        //
    }
</style>