<template>
  <v-container fluid>
    <v-row dense>
      <v-col cols="12">
        <v-card class="mb-4" v-if="!creating">
            <v-card-text>
                <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                <FullCalendar
                    @dateClick="handleDateClick"
                    defaultView="dayGridMonth"
                    :plugins="calendarPlugins"
                    :events="calendarEvents"
                    :header="{
                        left:'title',
                        center:'dayGridMonth, timeGridWeek, timeGridDay',
                        right: 'prev, today, next'
                    }"
                    :buttonText="{
                        today: 'Today',
                        month: 'Month',
                        week: 'Week',
                        day: 'Day'
                        }"
                    :selectable="true"
                />
            </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from "@fullcalendar/interaction"
import {mapGetters} from 'vuex'

    export default {
        components: {
            FullCalendar // make the <FullCalendar> tag available
        },
        name: 'TimetableView',
        props: {
            //
        },
        data: () => ({
            calendarPlugins: [ dayGridPlugin, interactionPlugin, timeGridPlugin ],
            calendarEvents: []
        }),
        mounted () {
            this.$refs.calendar.scrollToTime('08:00')
        },
        methods: {
            getEvents() {
                let self = this;
                axios.get(self.URLs.core.events.root)
                .then(
                    response => {
                        self.calendarEvents = response.data;
                    },
                );
            }
        },
        computed: {
            eventsList(events){
                return this.events
            }
        },
        created () {
           this.events = this.getEvents();
        },
    }
</script>
<style lang='scss'>
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
#TimetableView {
    //
}
.fc-title{
}
.fc-content{
    background: black !important;
}
   
</style>