<template>
    <div id='CreateSubjectView'>
        <v-text-field class="createStudentLoader" color="light-blue" :loading="loading" disabled></v-text-field>
        <error-component
            v-for="(error, key) in errors"
            :key="key"
            :message="error"
        ></error-component>
         <v-card-title>
           New Class
        </v-card-title>
        <v-form ref="createSubjectForm" v-model="valid" id="signup-form" @submit="creatSubject" method="POST">
            <v-container>
                <v-row>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newSubject.subject_name"
                            label="Subject Name"
                            :rules="Rules.required"
                            required
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newSubject.room_name"
                            label="Room Name"
                            :rules="Rules.required"
                            required
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-btn
                          :disabled="!valid || loading"
                          color="success"
                          class="mr-4"
                          @click="creatSubject"
                      >Submit</v-btn>
                   </v-col>
                </v-row>
            </v-container>
        </v-form>
        <router-link to="/subjects">
            <v-btn
                color="error"
                class="ml-4 mr-4 mt-10"
            >Back
            </v-btn>
        </router-link>
    </div>
</template>
<script>
    export default {
        name: 'CreateSubjectView',
        props: {
            
        },
        data: () => ({
            error: false,
            errorText: '',
            valid: false,
            loading: false,
            errors: [],
            newSubject: {
                subject_name: '',
                room_name: ''
            },
        }),
        methods: {
            creatSubject() {
              let self = this;
              let subject = _.clone(self.newSubject);
              axios.post(self.URLs.core.subjects.root, subject)
              .then(
                  response => {
                    self.$refs.createSubjectForm.reset();
                    self.$store.dispatch('subjects/addSubject', response.data);
                    self.$emit('subjectCreated', subject);
                    self.$router.push('/subjects');
                  }
              );
            },
            discard () {
                this.$refs.createSubjectForm.reset();
            },
        },
        computed: {

        },
        created () {
           //
        }
    }
</script>
<style lang='scss'>
    .createClassLoader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;

        &.v-text-field>.v-input__control>.v-input__slot:before {
            border-style: none;
        }
        &.v-text-field>.v-input__control>.v-input__slot:after {
            border-style: none;
        }
    }
</style>
