<template>
  <v-container fluid>
      <v-row dense>
        <v-col cols="12">
        <v-card class="mb-4">
          <v-snackbar
            v-model="snackbar.show"
            color="green"
            :timeout="3000"
            :top="true"
          >
              Subject {{snackbar.subject}} created successfully
              <v-btn
                  dark
                  text
                  @click="snackbar.show = false"
              >
                  Close
              </v-btn>
          </v-snackbar>
            <v-card-actions>
                <v-spacer></v-spacer>
                <router-link :to="{name: 'CreateSubjectView'}"><v-btn outlined text :disabled="loading"><v-icon small>mdi-plus</v-icon> Add New Class</v-btn></router-link>
            </v-card-actions>
            <v-card-text>
              <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                <v-data-table
                  :headers="subject.headers"
                  :items="subject.items"
                  :search="search"
                  v-if="!loading"
                >
                  <template v-slot:top>
                    <v-toolbar flat color="white">
                      <span class="ml-1 mt-1">
                        <h2>Classes</h2>
                      </span>
                      <v-spacer></v-spacer>
                      <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                      ></v-text-field>
                      <v-divider
                        class="mx-4"
                        inset
                        vertical
                      ></v-divider>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                  </template>
                  <template v-slot:item.action="{ item }">
                    <v-row>
                      <v-col>
                          <v-btn
                            icon
                            @click="openDialog(item.id)"
                            >
                            <v-icon
                              large
                              color="#f39c11"
                            >
                              mdi-account-plus
                            </v-icon>
                          </v-btn>
                      </v-col>
                    </v-row>
                  </template>
                  <template v-slot:item.register="{ item }">
                    <v-row>
                      <v-col>
                        <v-btn icon @click="openDialogTwo(item.id)"
                        >
                          <v-icon
                              large
                              color="#3490dc"
                            >
                               mdi-account-check
                            </v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </template>
                  <template v-slot:item.exams="{ item }">
                    <v-row>
                        <v-col>
                          <v-btn label="Take Register" icon @click="openDialogThree(item.id)">
                            <v-icon
                              class="mr-2"
                              color="#00a65a"
                              large
                            >
                              mdi-checkbox-marked-outline
                            </v-icon>
                          </v-btn>
                        </v-col>
                    </v-row>
                  </template>
                </v-data-table>
                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                      <v-toolbar dark  color="#f39c11">
                        <v-btn icon dark @click="dialog = false">
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Add to class</v-toolbar-title>
                        <v-spacer></v-spacer>
                      </v-toolbar>
                      <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                      ></v-text-field>
                      <v-divider></v-divider>
                      <v-snackbar v-model="snackbar.show" :timeout="4000" top :color="snackbar.color">
                        <span>{{ snackbar.text }}</span>
                        <v-btn color="white" @click="snackbar.show = false">Close</v-btn>
                      </v-snackbar>
                      <v-card-text>
                          <v-container>
                          </v-container>
                          <v-data-table
                            :headers="studentTable.headers"
                            :items="studentTable.items"
                            item-key="id"
                            :search="search"                       
                            >
                             <template v-slot:item.action="{ item }">
                                <v-btn 
                                  small
                                  color="blue"
                                  v-model="addStudent.student_id"
                                  @click="addToClass(item.id)"
                                  >
                                  Add
                                </v-btn>
                             </template>
                          </v-data-table>
                      </v-card-text>
                    </v-card>
                </v-dialog>
                 <v-dialog v-model="dialogTwo" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                      <v-toolbar dark color="#3490dc">
                        <v-btn icon dark @click="dialogTwo = false">
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Take Register</v-toolbar-title>
                        <v-spacer></v-spacer>
                      </v-toolbar>
                      <v-divider></v-divider>
                      <v-snackbar v-model="snackbar.show" :timeout="4000" top :color="snackbar.color">
                        <span>{{ snackbar.text }}</span>
                        <v-btn color="white" @click="snackbar.show = false">Close</v-btn>
                      </v-snackbar>
                      <span class="ml-1 mt-1">
                          <h2>Register</h2>
                      </span>
                      <v-card-text>
                          <v-container>
                          </v-container>
                          <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                          <div>
                            <v-data-table
                              :headers="attendanceTable.headers"
                              :items="attendanceTable.students"
                              item-key="id"
                              v-if="!loading"
                            >
                            <template v-slot:item.action="{ item }">
                              <v-col sm="6" cols="12">
                                <v-radio-group row v-model="classRegister.register">
                                    <v-radio  @change="takeRegister(item.id)" label="Present" value="present"></v-radio>
                                    <v-radio  @change="takeRegister(item.id)" label="Absent" value="absent"></v-radio>
                                </v-radio-group>
                              </v-col>
                             </template>
                            </v-data-table>
                          </div>
                      </v-card-text>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogThree" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                      <v-toolbar dark color="#00a65a">
                        <v-btn icon dark @click="dialogThree = false">
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Grades</v-toolbar-title>
                        <v-spacer></v-spacer>
                      </v-toolbar>
                      <v-divider></v-divider>
                      <v-snackbar v-model="snackbar.show" :timeout="4000" top :color="snackbar.color">
                        <span>{{ snackbar.text }}</span>
                        <v-btn color="white" @click="snackbar.show = false">Close</v-btn>
                      </v-snackbar>
                      <span class="ml-1 mt-1">
                          <h2>Add Grades</h2>
                      </span>
                      <v-card-text>
                          <v-container>
                          </v-container>
                          <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                          <div>
                            <v-data-table
                              :headers="attendanceTable.headers"
                              :items="attendanceTable.students"
                              item-key="first_name"
                              v-if="!loading"
                            >
                            <template v-slot:item.exams="{ item }">
                              <v-row>
                                <v-col cols="6" sm="4">
                                  <v-text-field
                                      v-model="newGrades.grade_name"
                                      label="Grade"
                                      :rules="Rules.required"
                                      required
                                      single-line
                                      solo
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="4" sm="4">
                                  <v-text-field
                                      v-model="newGrades.mark"
                                      label="Mark"
                                      :rules="Rules.required"
                                      required
                                      single-line
                                      solo
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="4" sm="4">
                                  <v-btn 
                                    color="#2196f3"
                                    @click="addGrades(item.id)"
                                    >
                                    submit
                                  </v-btn>
                                </v-col>
                              </v-row>
                             </template>
                            </v-data-table>
                          </div>
                      </v-card-text>
                    </v-card>
                </v-dialog>
          </v-card-text>
        </v-card>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'SubjectsView',
      props: {
            //
        },
    data: () => ({
      button: true,
      dense: false,
      fixedHeader: false,
      height: 500,
      search: '',
      dialog: false,
      dialogTwo: false,
      dialogThree: false,
      selected: [],
      snackbar: {
        show: false,
        text: '',
        color: 'white'
      },
      newGrades: {
        grade_name: '',
        mark: '',
        student_id: '',
        subject_id: '',
      },
      addStudent: {
        student_id: '',
        subject_id: ''
      },
      takeAttendance: {
        subject_id: ''
      },
      students: [],
      classRegister: {
        student_id: '',
        subject_id: '',
        register: ''
      },
      creating: false,
        snackbar: {
          show: false,
          client: ''
      },
    }),

    methods: {
      addGrades(student_id) {
        let self = this;
        this.newGrades.student_id = student_id;
        axios.post(self.URLs.core.grades.root, self.newGrades)
        .then(
          response => {
            return response.data
          }
        );
      },
      takeRegister (student_id) {
        this.classRegister.student_id = student_id;
        axios.post('api/attendances/registerStudent', this.classRegister)
        .then(
          response => {
            return response.data;
          },
        )
      },
      addToClass(student_id) {
        let self = this;
        let subject_id = this.addStudent.subject_id;
        axios.post('api/student-subjects/addToSubject', {"student_id": student_id, "subject_id": subject_id})
        .then(
          response => {
            this.button = false;
            return response.data;
          }, 
          error => {
            this.snackbar.text = "Student already in this class";
            this.snackbar.colour = "red";
            this.snackbar.show = true;
          }
        );
      },
      openDialog(subject_id) {
        this.addStudent.subject_id = subject_id;
        this.dialog = true;
      },
      openDialogTwo(sub_id) {
        this.takeAttendance.subject_id = sub_id;
        this.classRegister.subject_id = sub_id;
        this.dialogTwo = true;
        axios.post('api/student-subjects/getStudent', {"subject_id": sub_id}).then(
          response => {
              this.students = response.data;
          }
        ) 
      },
      openDialogThree(sub_id) {
        this.newGrades.subject_id = sub_id;
        this.dialogThree = true;
        axios.post('api/student-subjects/getStudent', {"subject_id": sub_id}).then(
          response => {
              this.students = response.data;
          }
        ) 
      },
      subjectCreated ($event) {
        this.snackbar.subject = $event.name;
        this.snackbar.show = true;
        this.creating = !this.creating;
      },
    },
    computed: {
      students (){
        return{
          students: this.students
        }
      },
      loadSubjects() {
          return (this.$store.state.subjects.subjects || []);
      },
      loading() {
        return (
            _.isEmpty(this.$store.state.subjects.subjects)
        );
      },
      subject() {
        return{
          headers: [
            { text: 'Subject Name', value: 'subject_name' },
            { text: 'Room Name', value: 'room_name' },
            { text: 'Add Student to Class', value: 'action' },
            { text: 'Take Register', value: 'register' },
            { text: 'Register Exam Marks', value: 'exams' },
          ],
          items: (this.$store.state.subjects.subjects || []),
        }
      },
      studentTable () {
        return{
          headers: [
              { text: 'First Name', value: 'first_name' },
              { text: 'Last Name', value: 'last_name' },
              { text: 'Year', value: 'year' },
              { text: 'Set', value: 'set' },
              { text: 'Action', value: 'action' },
          ],
          items: (this.$store.state.students.students || []),
        }
      },
      attendanceTable () {
        return{
          headers: [
              { text: 'First Name', value: 'first_name' },
              { text: 'Last Name', value: 'last_name' },
              { text: 'Action', value: 'action' },
          ],
          students: (this.students || [])
        }
      },
    },
    created() {
       //
    },
  }
</script>

<style scoped>
.v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 
      inset 0 4px 8px -5px rgba(50,50,50,.5),
      inset 5px 0 8px -5px rgba(236, 236, 236, 0.822), 
      inset 0 -4px 8px -5px rgba(50,50,50,.5), 
      inset -5px 0 8px -5px rgba(236, 236, 236, 0.822);
    background-color: #eee;
}
li a {
        text-decoration: none;
     }
a {  
    text-decoration: none;
  }
</style>