<template>
    <div id="parent.report">
        <h1>Twat</h1>
    </div>
</template>
<script>
    export default {
        name: "parent.report",
        props: {
            //
        },
        data: () => ({
            //
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #ReportView {
        //
    }
</style>