<template>
    <div id='StudentDetailsComponent'>
        <v-list-item three-line>
            <v-list-item-content>
                <v-list-item-title>First Name</v-list-item-title>
                <v-list-item-subtitle>{{ student.first_name }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
                <v-list-item-title>Last name</v-list-item-title>
                <v-list-item-subtitle>{{ student.last_name }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
                <v-list-item-title>Year</v-list-item-title>
                <v-list-item-subtitle>{{ student.year}}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-list-item three-line>
                <v-list-item-content>
                <v-list-item-title>Address</v-list-item-title>
                <v-list-item-subtitle>{{ student.address_one}}</v-list-item-subtitle>
                
                </v-list-item-content>
                <v-list-item-content>
                <v-list-item-title>Postcode</v-list-item-title>
                <v-list-item-subtitle>{{ student.postcode }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                <v-list-item-title>set</v-list-item-title>
                <v-list-item-subtitle>{{ student.set }}</v-list-item-subtitle>
                </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
    </div>
</template>
<script>
    export default {
        name: 'StudentDetailsComponent',
        props: {
            student: {
                type: Object,
            }
        },
        data: () => ({
            //
        }),
        methods: {
           //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #StudentDetailsComponent {
    }
</style>