<template>
    <div id='CreateGuardianView'>
        <v-text-field class="createParentLoader" color="light-blue" :loading="loading" disabled></v-text-field>
        <error-component
            v-for="(error, key) in errors"
            :key="key"
            :message="error"
        ></error-component>
         <v-card-title>
           New Parent
        </v-card-title>
        <v-form ref="createGuardianForm" v-model="valid" id="signup-form" @submit="createGuardian" method="POST">
            <v-container>
                <v-row>
                     <v-col cols="12">
                            <v-autocomplete
                                v-model="newGuardian.student_id"
                                :items="students"
                                item-text="full_name"
                                item-value="id"
                                :rules="Rules.required"
                                label="Child's Name"
                                :disabled="loading"
                            ></v-autocomplete>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.first_name"
                                label="First Name"
                                :rules="Rules.required"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.last_name"
                                :counter="30"
                                label="Last Name"
                                :rules="Rules.required"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.other_name"
                                :counter="30"
                                label="Other Name"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.email"
                                :rules="Rules.required"
                                :counter="30"
                                label="Email"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.phone"
                                :rules="Rules.required"
                                :counter="30"
                                label="Phone"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="newGuardian.mobile"
                                :rules="Rules.required"
                                :counter="30"
                                label="Mobile"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>
                 <v-btn
                    :disabled="!valid || loading"
                    color="success"
                    class="mr-4"
                    @click="createGuardian"
                    >Submit
                </v-btn>
            </v-container>
        </v-form>
        <div class="my-3">
            <router-link to="/students"><b-button variant="outline-primary">Back</b-button></router-link>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'CreateGuardianView',
        props: {
            teams: {
                type: Array
            }
        },
        data: () => ({
            valid: false,
            loading: false,
            errors: [],
            newGuardian: {
                first_name: '',
                last_name: '',
                other_name: '',
                email: '',
                phone: '',
                mobile: '',
                student_id: '',
            },
        }),
        methods: {
            createGuardian () {
              let self = this;
              self.loading = true;
              axios.post(self.URLs.core.guardians.root, self.newGuardian).then(
                  response => {
                     self.$router.push('/students');
                     self.$store.dispatch('guardians/addGuardian', response.data);
                  }
              );
            },
            discard() {
                this.$refs.createGuardianForm.reset();
            },
        },
        computed: {
            students() {
                return _.filter((this.$store.state.students.students || []), function (student) {
                    return !student.guardian;
                });
            }
        },
        created () {
            // this.newStudent.password = this.randomString(12);
        }
    }
</script>
<style lang='scss'>
    .createParentLoader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;

        &.v-text-field>.v-input__control>.v-input__slot:before {
            border-style: none;
        }
        &.v-text-field>.v-input__control>.v-input__slot:after {
            border-style: none;
        }
    }
</style>
