<template>
  <v-container fluid>
    <v-row dense>
      <v-col cols="12">
        <v-card class="mb-4" v-if="!creating">
            <v-card-actions>
                <v-spacer></v-spacer>
                <router-link :to="{name: 'CreateGuardianView'}"><v-btn outlined text :disabled="loading"><v-icon small>mdi-plus</v-icon> New Guardian</v-btn></router-link>
            </v-card-actions>
              <v-card-text>
                    <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                  <v-data-table
                    :headers="guardian.headers"
                    :items="guardian.items"
                    :search="search"
                    v-if="!loading"
                  >
                    <template v-slot:top>
                      <v-toolbar flat color="white">
                        <span class="ml-1 mt-1">
                          <h2>Guadians</h2>
                        </span>
                        <v-spacer></v-spacer>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                        ></v-text-field>
                        <v-divider
                          class="mx-4"
                          inset
                          vertical
                        ></v-divider>
                        <v-spacer></v-spacer>
                      </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                      <router-link :to="{name: 'CreateGuardianView'}">
                        <v-btn 
                            v-if="!item.guardian"
                            color="success"
                            class="mr-4"
                            small
                            >Add Guardian
                        </v-btn>
                      </router-link>
                    </template>
                    <template v-slot:item.email="{ item }">
                          <a :href="'mailto:' + item.email"> {{ item.email }} </a>
                    </template>
                    <template v-slot:item.edit="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <v-btn 
                        small
                        color="#f39c11"
                      > Edit
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:item.delete="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <v-btn 
                        small
                        color="red"
                      > Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:item.more="{ item }">
                  <v-row>
                    <v-col cols="12">
                        <v-btn 
                          small
                        > More
                        </v-btn>
                    </v-col>
                  </v-row>
                </template>
                  </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'GuardiansView',
      props: {
            //
        },
    data: () => ({
      search: '',
    }),
    computed: {
      loading() {
        return (
            _.isEmpty(this.$store.state.guardians.guardians)
        );
      },
      guardian() {
        return{
          headers: [
            {
              text: 'First Name',
              align: 'start',
              value: 'first_name'
            },
            { text: 'Last Name', value: 'last_name' },
            { text: 'Email', value: 'email' },
            { text: 'Phone', value: 'phone' },
            { text: 'More', value: 'more' },
            { text: 'Edit', value: 'edit' },
            { text: 'Delete', value: 'delete' },
          ],
          items: (this.$store.state.guardians.guardians || []),
        }
      },
    },
    created() {
       //
    },
    methods: {
      //
    },
  }
</script>

<style scoped>
.v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 
      inset 0 4px 8px -5px rgba(50,50,50,.5),
      inset 5px 0 8px -5px rgba(236, 236, 236, 0.822), 
      inset 0 -4px 8px -5px rgba(50,50,50,.5), 
      inset -5px 0 8px -5px rgba(236, 236, 236, 0.822);
    background-color: #eee;
}
li a {
        text-decoration: none;
     }
a {  
    text-decoration: none;
  }
</style>