// Vuetify
@import '~vuetify/dist/vuetify.min.css';
// Variables
@import 'variables';

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    &, .theme--light.v-application {
        background-color: #f6f6f6;
    }
}
.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}

/* ===== Transition Animations ===== */

.slide-enter { transform: translateX(100%); opacity: 0; }
.slide-enter-to { transform: translateX(0); opacity: 1; }
.slide-enter-active { position: absolute }

.slide-leave { transform: translateX(0); opacity: 1;}
.slide-leave-to { transform: translateX(-100%); opacity: 0; }

.slide-enter-active,
.slide-leave-active { transition: all 550ms ease-in-out }

/* ===== Transition Animations End ===== */