<template>
    <div id='CreateExamView'>
         <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-title>New Event</v-card-title>
                        <v-card-text>
                            <form ref="createExamForm">
                                <v-row>
                                    <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :return-value.sync="date"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newExam.exam_date"
                                                label="Date Date"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="newExam.exam_date" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                   <v-col class="d-flex" cols="12" sm="6">
                                        <v-text-field
                                            v-model="newExam.title"
                                            :counter="8"
                                            required
                                            label="Title"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-text-field
                                            v-model="newExam.exam_room"
                                            :counter="8"
                                            required
                                            label="Room Name"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="modal2"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            :return-value.sync="time"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newExam.start_time"
                                                label="Start Time"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-time-picker
                                            v-if="modal2"
                                            v-model="newExam.start_time"
                                            full-width
                                            @click:minute="$refs.menu.save(time)"
                                            ></v-time-picker>
                                        </v-menu>
                                    </v-col>
                                     <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="modal3"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            :return-value.sync="time"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newExam.end_time"
                                                label="End Time"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-time-picker
                                            v-if="modal3"
                                            v-model="newExam.end_time"
                                            full-width
                                            @click:minute="$refs.menu.save(time)"
                                            ></v-time-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-select
                                            :items="items"
                                            filled
                                            v-model="newExam.duration"
                                            label="Duration"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="6" sm="6">
                                        <v-textarea
                                            v-model="newExam.details"
                                            required
                                            label="Exam Details"
                                            single-line
                                            filled
                                        ></v-textarea>
                                    </v-col>
                                </v-row>
                                 <v-col cols="6" sm="4">
                                    <v-btn class="mr-4" 
                                        dark
                                        @click="createExam"
                                        >
                                        Submit
                                    </v-btn>
                                </v-col>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: 'CreateExamView',
        props: {
            //
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            menu2: false,
            valid: false,
            modal2: false,
            modal3: false,
            time: null,
            newExam: {
                title: '',
                exam_date: '',
                start_time: '',
                end_time: '',
                duration: '',
                details: '',
                exam_room: ''
            },
            items: [
                '1 Hour',
                '1:30 Min',
                '2 Hours',
                '2:30 Min',
                '3 Hours',
            ]
        }),
        methods: {
            createExam() {
                let self = this;
                axios.post(self.URLs.core.exams.root, this.newExam).then(
                    response => {
                        self.$store.dispatch('exams/addExam', response.data);
                        self.$refs.createExamForm.reset();
                        self.$router.push('/exams');
                    }
                )
            },
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #CreateExamView {
        //
    }
</style>