<template>
  <v-container fluid>
    <v-row dense>
      <v-col cols="12">
        <v-card class="mb-4" v-if="!creating">
            <v-card-actions>
                <v-spacer></v-spacer>
                <router-link :to="{name: 'exam.create'}"><v-btn outlined text :disabled="loading"><v-icon small>mdi-plus</v-icon> New Exam</v-btn></router-link>
            </v-card-actions>
            <v-card-text>
                <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                <v-data-table
                    :headers="exams.headers"
                    :items="exams.items"
                    :search="search"
                    v-if="!loading"
                  >
                    <template v-slot:top>
                      <v-toolbar flat color="white">
                        <span class="ml-1 mt-1">
                          <h2>Exams</h2>
                        </span>
                        <v-spacer></v-spacer>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                        ></v-text-field>
                        <v-divider
                          class="mx-4"
                          inset
                          vertical
                        ></v-divider>
                        <v-spacer></v-spacer>
                      </v-toolbar>
                    </template>
                    <template v-slot:item.edit="{ item }">
                        <v-row>
                            <v-col cols="12">
                                <v-btn 
                                    small
                                    color="#f39c11"
                                > Edit
                                </v-btn>
                            </v-col>
                        </v-row>
                    </template>
                    <template v-slot:item.edit="{ item }">
                    <v-row>
                        <v-col cols="12">
                            <v-btn 
                            small
                            > More
                            </v-btn>
                        </v-col>
                    </v-row>
                    </template>
                <template v-slot:item.delete="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <v-btn 
                        small
                        color="red"
                      > Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                  </v-data-table>
            </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
    export default {
        name: 'ExamsView',
        props: {
            //
        },
        data: () => ({
            //
        }),
        methods: {
            //
        },
        computed: {
            loading() {
                return (
                    _.isEmpty(this.$store.state.exams.exams)
                );
            },
            exams() {
                return{
                    headers: [
                        { text: 'Date', value: 'exam_date' },
                        { text: 'Room', value: 'exam_room' },
                        { text: 'Start Time', value: 'start_time' },
                        { text: 'End Time', value: 'end_time' },
                        { text: 'Duration', value: 'duration' },
                        { text: 'Edit', value: 'edit' },
                        { text: 'Delete', value: 'delete' },
                    ],
                items: (this.$store.state.exams.exams || []),
                }
            },
         },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #ExamsView {
        //
    }
</style>