<template>
<v-container fluid>
   <v-row dense>
     <v-col cols="12">
        <v-card>
            <v-card-text>
                  <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
              <v-data-table
                  :headers="studentTable.headers"
                  :items="studentTable.items"
                  :search="search"
                  v-if="!loading"
              >
                <template v-slot:top>
                  <v-toolbar flat color="white">
                      <span class="ml-1 mt-1">
                        <h2>Behaviour</h2>
                      </span>
                      <v-spacer></v-spacer>
                      <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                      ></v-text-field>
                      <v-divider
                        class="mx-4"
                        inset
                        vertical
                      ></v-divider>
                      <v-spacer></v-spacer>
                  </v-toolbar>
                </template>
                <template v-slot:item.gender="{ item }">
                  <v-btn 
                      v-if="item.gender == 'male'"
                      class="ma-2" 
                      text icon 
                      color="#3490dc"
                      ><v-icon>mdi-human-male</v-icon>
                  </v-btn>
                    <v-btn 
                      v-if="item.gender == 'female'"
                      class="ma-2" 
                      text icon 
                      color="#f39c11"
                      ><v-icon>mdi-human-female</v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.behaviour="{ item }">
                  <v-icon
                    v-if="item.behaviour === 0"
                    large
                    color="#ff5722">
                    mdi-emoticon-neutral-outline
                  </v-icon>
                  <v-icon
                   v-if="item.behaviour < 0"
                    large
                    color="#ff5252">
                    mdi-emoticon-angry-outline
                  </v-icon>
                  <v-icon
                    v-if="item.behaviour > 0"
                    large
                    color="green">
                    mdi-emoticon-outline
                  </v-icon>
                </template>
                <template v-slot:item.more="{ item }">
                  <v-row>
                      <router-link :to="{name: 'student.show', params: {id: item.id}}">
                        <v-btn 
                          small
                        > View Student
                        </v-btn>
                      </router-link>
                  </v-row>
                </template>
              </v-data-table>
            </v-card-text>
        </v-card>
     </v-col>
   </v-row>
</v-container>
</template>

<script>
  export default {
     name: "BehaviourView",
    data: () => ({
      students: [],
      search: '',
      timestamp: "",
    }),
    computed: {
      loading() {
              return (
                  _.isEmpty(this.$store.state.students.students)
              );
          },
      studentTable () {
        return{
          headers: [
            {
              text: 'First Name',
              align: 'start',
              value: 'first_name'
            },
            { text: 'Last Name', value: 'last_name' },
            { text: 'Year', value: 'year' },
            { text: 'Gender', value: 'gender' },
            { text: 'Behaviour', value: 'behaviour' },
            { text: 'More', value: 'more' },
          ],
          items: (this.$store.state.students.students || []),
        }
      },
    },
    methods: {
      
    },
  }
</script>
<style scoped>
  .v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 
      inset 0 4px 8px -5px rgba(50,50,50,.5),
      inset 5px 0 8px -5px rgba(236, 236, 236, 0.822), 
      inset 0 -4px 8px -5px rgba(50,50,50,.5), 
      inset -5px 0 8px -5px rgba(236, 236, 236, 0.822);
    background-color: #eee;
    }
    li a {
      text-decoration: none;
      }
  a {  
    text-decoration: none;
    }
    .clock {
      text-align: center;
      margin-top: 20px;
    }
    .clock h4{
      color: #343a40;
      font-family: Ostrich Sans;
    }
</style>
  