<template>
    <div id='CreateBehaviourView'>
         <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-title>New Event</v-card-title>
                        <v-card-text>
                            <form>
                                <v-row>
                                    <v-col sm="6" cols="12">
                                        <v-autocomplete
                                            v-model="newBehaviour.subject_id"
                                            :items="$store.state.subjects.subjects"
                                            item-text="subject_name"
                                            item-value="id"
                                            :rules="Rules.required"
                                            label="Subject"
                                            :disabled="loading"
                                        ></v-autocomplete>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6" md="3">
                                        <v-text-field
                                            v-model="newBehaviour.action"
                                            :counter="8"
                                            required
                                            label="Name"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="4">
                                        <v-text-field
                                            v-model="newBehaviour.comment"
                                            required
                                            label="Comment"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="4">
                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :return-value.sync="date"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newBehaviour.date"
                                                label="Date"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="newBehaviour.date" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                                 <v-col cols="6" sm="4"> 
                                        <v-btn
                                        small
                                        color="red"
                                        @click="createBehaviour"
                                        >
                                        Submit
                                        </v-btn>
                                    </v-col>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: 'CreateBehaviourView',
        props: {
            //
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            menu2: false,
            valid: false,
            modal2: false,
            modal3: false,
            time: null,
            newBehaviour: {
                subject_id: '',
                student_id: '',
                status: '',
                comment: '',
                date: '',
                action: '',
            }
        }),
        methods: {
            createEvent() {
                let self = this;
                axios.post(self.URLs.core.behavious.root, this.newBehaviour).then(
                    response => {
                      //
                    }
                )
            }
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #CalendarCreateView {
        //
    }
</style>