<template>
    <div id='CreateStudentView'>
        <v-text-field class="createStudentLoader" color="light-blue" :loading="loading" disabled></v-text-field>
        <error-component
            v-for="(error, key) in errors"
            :key="key"
            :message="error"
        ></error-component>
         <v-card-title>
           New Student
        </v-card-title>
        <v-form ref="createStudentForm" v-model="valid" id="signup-form" @submit="createStudent" method="POST">
            <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
                <span>{{snackbarText}}</span>
                <v-btn flat color="white">Close</v-btn>
            </v-snackbar>
            <v-snackbar v-model="error" :timeout="4000" top color="error">
                <span>{{ errorText }}</span>
                <v-btn flat color="white">Close</v-btn>
            </v-snackbar>
            <v-container>
                <v-row>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.first_name"
                            label="First Name"
                            :rules="Rules.required"
                            required
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                     <v-col cols="6" sm="6">
                     <v-text-field
                            v-model="newStudent.last_name"
                            label="Last Name"
                            :rules="Rules.required"
                            required
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.other_name"
                            label="Other Name"
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                            :items="items"
                            label="Gender"
                            v-model="newStudent.gender"
                            single-line
                            filled
                        ></v-select>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-text-field
                            label="Email"
                            v-model="newStudent.email"
                            single-line
                            filled
                        >
                        </v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-text-field
                            label="Password"
                            v-model="newStudent.password"
                            single-line
                            filled
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="newStudent.date_of_birth"
                            label="Date of Birth"
                            readonly
                            v-on="on"
                            single-line
                            filled
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="newStudent.date_of_birth" no-title scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.address_one"
                            :rules="Rules.required"
                            label="Address One"
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.address_two"
                            :rules="Rules.required"
                            label="Address Two"
                            required
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.address_three"
                            label="Address Three"
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6">
                        <v-text-field
                            v-model="newStudent.postcode"
                            :counter="8"
                            :rules="Rules.postcode"
                            label="Postcode"
                            single-line
                            filled
                        ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                            v-model="newStudent.year"
                            :items="year"
                            label="Year"
                            single-line
                            filled
                        ></v-select>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                            v-model="newStudent.set"
                            :items="set"
                            label="Set"
                            single-line
                            filled
                        ></v-select>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-file-input
                         v-model="newStudent.student_photo"
                            label="Student Photo"
                            filled
                            type="file"
                            prepend-icon="mdi-camera"
                             accept="image/*"
                        >
                        </v-file-input>
                    </v-col>
                    <v-col cols="12" class="action-button">
                      <v-btn
                          :disabled="!valid || loading"
                          color="success"
                          class="mr-4"
                          @click="createStudent"
                      >Submit</v-btn>
                      <router-link to="/students">
                        <v-btn
                            color="error"
                            class="mr-4"
                        >Cancel</v-btn>
                      </router-link>
                   </v-col>
                </v-row>
            </v-container>
        </v-form>
        <div class="my-3">
            <router-link to="/students"><b-button variant="outline-primary">Back</b-button></router-link>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'CreateStudentView',
        props: {
           //
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,
            items: [
                'male',
                'female',
                'other'
            ],
            snackbar: false,
            snackbarText: '',
            error: false,
            errorText: '',
            valid: false,
            loading: false,
            errors: [],
            image: '',
            newStudent: {
                first_name: '',
                last_name: '',
                other_name: '',
                gender: '',
                date_of_birth: '',
                address_one: '',
                address_two: '',
                address_three: '',
                postcode: '',
                student_photo: '',
                email: '',
                password: '',
            },
            year: [
                '6',
                '7',
                '8'
            ],
            set: [
                '1',
                '2'
            ]
        }),
        methods: {
            createStudent () {
                let self = this;
                self.loading = true;
                self.$store.dispatch('students/addStudent', self.newStudent)
                .then(() =>{
                    this.snackbar = true;
                    this.snackbarText = "Student Created";
                    self.$router.push('/students');
                 }).catch(error => {
                    this.errorText = "Student failed to create";
                    this. error = true;
                });
            },
            discard () {
                this.$refs.createStudentForm.reset();
            },
            randomString(length) {
                let result = [];
                let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!£$%^&*()_+}{[];,./-=@?';
                let charactersLength = characters.length;

                for (let i = 0; i < length; i++) {
                    result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));
                }
                return result.join('');
            }
        },
        computed: {
            //
        },
        created () {
            this.newStudent.password = this.randomString(12);
            // this.newStudent.password = this.randomString(12);
        }
    }
</script>
<style lang='scss'>
    .createStudentLoader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;

        &.v-text-field>.v-input__control>.v-input__slot:before {
            border-style: none;
        }
        &.v-text-field>.v-input__control>.v-input__slot:after {
            border-style: none;
        }
    }

    .action-button{
        text-align: center;
    }
</style>
