<template>
    <div id='StudentUpdateView'>
        <v-text-field class="createStudentLoader" color="light-blue" :loading="loading" disabled></v-text-field>
        <error-component
            v-for="(error, key) in errors"
            :key="key"
            :message="error"
        ></error-component>
         <v-card-title>
           Update Student
        </v-card-title>
        <v-form ref="StudentUpdateForm" v-model="valid" id="signup-form" @submit="updateStudent" method="POST">
            <v-container>
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.first_name"
                            label="First Name"
                            :rules="Rules.required"
                            required
                        ></v-text-field>
                    </v-col>
                     <v-col cols="6">
                     <v-text-field
                            v-model="newStudent.last_name"
                            :counter="30"
                            label="Last Name"
                            :rules="Rules.required"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.other_name"
                            :counter="30"
                            label="Other Name"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                          :items="items"
                          label="Gender"
                          v-model="newStudent.gender"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="newStudent.date_of_birth"
                            label="Date of Birth"
                            readonly
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="newStudent.date_of_birth" no-title scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.address_one"
                            :rules="Rules.required"
                            :counter="30"
                            label="Address One"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.address_two"
                            :rules="Rules.required"
                            :counter="30"
                            label="Address Two"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.address_three"
                            :counter="30"
                            label="Address Three"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newStudent.postcode"
                            :counter="30"
                            :rules="Rules.postcode"
                            label="Postcode"
                        ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                        v-model="newStudent.year"
                        :items="year"
                        label="Year"
                        ></v-select>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                        <v-select
                        v-model="newStudent.set"
                        :items="set"
                        label="Set"
                        ></v-select>
                    </v-col>
                    <v-col cols="12">
                      <v-btn
                          :disabled="!valid || loading"
                          color="success"
                          class="mr-4"
                          @click="updateStudent"
                      >Submit</v-btn>
                   </v-col>
                </v-row>
            </v-container>
        </v-form>
        <div class="my-3">
            <router-link to="/students"><b-button variant="outline-primary">Back</b-button></router-link>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'StudentUpdateView',
        props: {
            student: {
                type: Object
            }
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,
            items: [
                'Male',
                'Female',
                'Other'
            ],
            newStudent: {
                first_name: '',
                last_name: '',
                other_name: '',
                gender: '',
                date_of_birth: '',
                address_one: '',
                address_two: '',
                address_three: '',
                postcode: '',
            },
            valid: false,
            loading: false,
            errors: [],
            year: [
                '6',
                '7',
                '8'
            ],
            set: [
                '1',
                '2'
            ]
        }),
        methods: {
            updateStudent () {
              self.loading = true;
              axios.put(self.URLs.core.students.updateStudent.withId(self.newStudent.id), self.newStudent).then(
                response => {
                  console.log(response);
                },
                error => {
                  self.loading = false;
                },
              );
            },
            discard () {
                this.$refs.StudentUpdateForm.reset();
            },
        },
        computed: {
            student () {
                return{
                    items: (this.$store.state.students.students || []),
                }
            },
        },
        created () {
            this.newStudent = _.clone(this.student);
        }
    }
</script>
<style lang='scss'>
    .createStudentLoader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;

        &.v-text-field>.v-input__control>.v-input__slot:before {
            border-style: none;
        }
        &.v-text-field>.v-input__control>.v-input__slot:after {
            border-style: none;
        }
    }
</style>

<style scoped>
a {  
  text-decoration: none;
}
</style>
