<template>
<v-container fluid>
    <v-snackbar
      v-model="snackbarTwo.show"
      color="red"
      :timeout="2000"
      :top="true"
      >
       <p>{{snackbarTwo.message}}</p>
    </v-snackbar>
   <v-snackbar
            v-model="snackbar.show"
            color="red"
            :timeout="8000"
            :top="true"
        >
            Delete {{snackbar.item.first_name}}?  
            <v-btn
                dark
                @click="deleteStudent(snackbar.item)"
            >
                Delete
            </v-btn>
            <v-btn
                dark
                color="green"
                @click="closeSnackbar()"
            >
                Cancel
            </v-btn>
        </v-snackbar>
   <v-row dense>
     <v-col cols="12">
        <v-card>
            <v-card-actions>
                <v-spacer></v-spacer>
                <router-link :to="{name: 'CreateStudent'}"><v-btn outlined text :disabled="loading"><v-icon small>mdi-plus</v-icon> New Student</v-btn></router-link>
            </v-card-actions>
            <div class="clock">
                  <h4>{{ timestamp }}</h4>
              </div>
            <v-card-text>
                  <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
              <v-data-table
                  :headers="studentTable.headers"
                  :items="studentTable.items"
                  :search="search"
                  v-if="!loading"
              >
                <template v-slot:top>
                  <v-toolbar flat color="white">
                      <span class="ml-1 mt-1">
                        <h2>Students</h2>
                      </span>
                      <v-spacer></v-spacer>
                      <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                      ></v-text-field>
                      <v-divider
                        class="mx-4"
                        inset
                        vertical
                      ></v-divider>
                      <v-spacer></v-spacer>
                      <v-dialog v-model="dialog" max-width="500px">
                        <v-card>
                          <v-card-title>
                            Edit Details.
                          </v-card-title>
                          <v-card-text>
                            <v-container>
                              <v-row>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.first_name" label="First name"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.last_name" label="Last Name"></v-text-field>
                                </v-col>
                                 <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.set" label="set"></v-text-field>
                                </v-col>
                                 <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.year" label="Year"></v-text-field>
                                </v-col>
                                 <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.address_one" label="Address One"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.address_two" label="Address Two"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.postcode" label="PostCode"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field v-model="editStudent.behavior" label="Behaviour"></v-text-field>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text>Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click=" UpdateItem">Update</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <v-dialog v-model="dialogTwo" max-width="700px">
                        <v-card>
                          <v-card-title>
                            Add Behaviour.
                          </v-card-title>
                          <v-card-text>
                            <v-container>
                              <form>
                                <v-row>
                                    <v-col sm="6" cols="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :return-value.sync="date"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newBehaviour.date"
                                                label="Date"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="newBehaviour.date" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col sm="6" cols="6">
                                        <v-autocomplete
                                          filled
                                          v-model="newBehaviour.subject_id"
                                          :items="$store.state.subjects.subjects"
                                          item-text="subject_name"
                                          item-value="id"
                                          :rules="Rules.required"
                                          label="Subject"
                                          :disabled="loading"
                                        ></v-autocomplete>
                                    </v-col>
                                    <v-col csm="6" cols="6">
                                      <v-select
                                        :items="action"
                                        filled
                                        label="Action"
                                        v-model="newBehaviour.action"
                                      ></v-select>
                                    </v-col>
                                    <v-col csm="6" cols="6">
                                      <v-select
                                        :items="type"
                                        filled
                                        label="type"
                                        v-model="newBehaviour.type"
                                      ></v-select>
                                    </v-col>
                                    <v-col csm="6" cols="6">
                                      <v-select
                                        :items="status"
                                        filled
                                        label="Status"
                                        v-model="newBehaviour.status"
                                      ></v-select>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-textarea
                                            v-model="newBehaviour.comment"
                                            required
                                            label="Comment"
                                            single-line
                                            filled
                                            auto-grow
                                        ></v-textarea>
                                    </v-col>
                                  </v-row>
                              </form>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" @click="dialogTwo = false">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="addBehaviour">Add</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:item.behaviour="{ item }">
                  <v-btn 
                      small
                      color="error"
                      @click="openDialog(item.id)"
                      >Add
                  </v-btn>
                </template>
                 <template v-slot:item.gender="{ item }">
                  <v-btn 
                      v-if="item.gender == 'male'"
                      class="ma-2" 
                      text icon 
                      color="red lighten-2"
                      ><v-icon>mdi-human-male</v-icon>
                  </v-btn>
                    <v-btn 
                      v-if="item.gender == 'female'"
                      class="ma-2" 
                      text icon 
                      color="red lighten-2"
                      ><v-icon>mdi-human-female</v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.behaviour="{ item }">
                  <v-btn 
                      small
                      color="#00a65a"
                      @click="openDialog(item.id)"
                      >Add
                  </v-btn>
                </template>
                 <template v-slot:item.gender="{ item }">
                  <v-btn 
                      v-if="item.gender == 'male'"
                      class="ma-2" 
                      text icon 
                      color="#3490dc"
                      ><v-icon>mdi-human-male</v-icon>
                  </v-btn>
                    <v-btn 
                      v-if="item.gender == 'female'"
                      class="ma-2" 
                      text icon 
                      color="#f39c11"
                      ><v-icon>mdi-human-female</v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.edit="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <v-btn 
                        small
                        color="#f39c11"
                        @click="editItem(item)"
                      > Edit
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:item.delete="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <v-btn 
                        small
                        color="red"
                        @click="openSnackbar(item)"
                      > Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:item.more="{ item }">
                  <v-row>
                    <v-col cols="12">
                      <router-link :to="{name: 'student.show', params: {id: item.id}}">
                        <v-btn 
                          small
                        > More
                        </v-btn>
                      </router-link>
                    </v-col>
                  </v-row>
                </template>
              </v-data-table>
            </v-card-text>
        </v-card>
     </v-col>
   </v-row>
</v-container>
</template>

<script>
  export default {
    data: () => ({
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,
      snackbar: {
        show: false,
        item: {},
      },
      snackbarTwo: {
        message: '',
        show: false,
        item: {}
      },
      dialog: false,
      dialogTwo: false,
      students: [],
      search: '',
      timestamp: "",
      editStudent: {
        first_name: '',
        last_name: '',
        other_name: '',
        gender: '',
        date_of_birth: '',
        address_one: '',
        address_two: '',
        address_three: '',
        postcode: '',
      },
      action: [
        'Warning',
        'Disciplinary'
      ],
      status: [
        'Positive',
        'Neutral',
        'Negative'
      ],
      newBehaviour: {
        subject_id: '',
        student_id: '',
        comment: '',
        date: '',
        status: '',
        action: '',
        type: ''
      },
      type: [
        'Aggressive',
        'Noisy',
        'Uninterested'
      ],
    }),
    computed: {
      loading() {
              return (
                  _.isEmpty(this.$store.state.students.students)
              );
          },
      studentTable () {
        return{
          headers: [
            {
              text: 'First Name',
              align: 'start',
              value: 'first_name'
            },
            { text: 'Last Name', value: 'last_name' },
            { text: 'Year', value: 'year' },
            { text: 'Gender', value: 'gender' },
            { text: 'More', value: 'more' },
            { text: 'Edit', value: 'edit' },
            { text: 'Delete', value: 'delete' },
            { text: 'Behaviour', value: 'behaviour' },
          ],
          items: (this.$store.state.students.students || []),
        }
      },
    },
    created () {
      setInterval(this.getNow, 1000);
    },
    methods: {
      addBehaviour() {
        let self = this;
        axios.post(self.URLs.core.behaviours.root, this.newBehaviour).then(
            response => {
              return response.data
            }
        );
      },
      openDialog(student_id) {
        this.dialogTwo = true;
        this.newBehaviour.student_id = student_id
      },
      getNow: function() {
        const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        const dateTime = date +' '+ time;
        this.timestamp = dateTime;
      },
      editItem (item) {
        this.editedIndex = this.studentTable.items.indexOf(item)
        this.editStudent = Object.assign({}, item)
        this.dialog = true
      },
      UpdateItem (item) {
        let self = this;
        self.loading = true;
        axios.put(self.URLs.core.students.withId(self.editStudent.id), self.editStudent).then(
            response => {
            this.dialog = false;
            },
            error => {
              self.loading = false;
            },
          );
        },
      deleteStudent(item) {
        this.$store.dispatch('students/deleteStudent', item).then(
            () => {
              this.snackbar.show = false;
              this.snackbarTwo.show = true;
              this.snackbarTwo.message = 'Student Deleted',
              self.$router.push('/students');
            }
        );
      },
      openSnackbar (item) {
        this.snackbar.item = item,
        this.snackbar.show = true;
      },
      closeSnackbar (item) {
        this.snackbar.item = {},
        this.snackbar.show = false;
      },
      discard () {
        this.$refs.StudentUpdateForm.reset();
      },
    },
  }
</script>
<style scoped>
  .v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 
      inset 0 4px 8px -5px rgba(50,50,50,.5),
      inset 5px 0 8px -5px rgba(236, 236, 236, 0.822), 
      inset 0 -4px 8px -5px rgba(50,50,50,.5), 
      inset -5px 0 8px -5px rgba(236, 236, 236, 0.822);
    background-color: #eee;
    }
    li a {
      text-decoration: none;
      }
  a {  
    text-decoration: none;
    }
    .clock {
      text-align: center;
      margin-top: 20px;
    }
    .clock h4{
      color: #343a40;
      font-family: Ostrich Sans;
    }
    .v-btn{
      font-weight: 600 !important;
    }
</style>
  