<template>
    <div id="StudentShowView">
        <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card v-if="loading">
                        <v-skeleton-loader type="table"></v-skeleton-loader>
                    </v-card>
                        <v-card v-else>
                            <v-card-title class="justify-center">{{ student.first_name }}</v-card-title>
                            <v-card-text>
                            <v-tabs
                                v-model="tab"
                                icons-and-text
                                class="ml-1 mt-1"
                                fixed-tabs
                                color="#f39c11"
                            >
                                <v-tabs-slider></v-tabs-slider>
                                <v-tab href="#tab-1">
                                    Details
                                    <v-icon>mdi-account-details-outline</v-icon>
                                </v-tab>
                                <v-tab href="#tab-2">
                                    Guardian
                                    <v-icon>mdi-account-group</v-icon>
                                </v-tab>
                            </v-tabs>
                            <v-tabs-items v-model="tab">
                                <v-tab-item value="tab-1">
                                   <v-list-item three-line v-if="student.guardiant">
                                        <v-list-item-content>
                                            <v-list-item-title>First Name</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.first_name }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Last name</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.last_name }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Year</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.year}}</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item three-line>
                                        <v-list-item-content>
                                            <v-list-item-title>Year</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.year }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>set</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.set }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Gender</v-list-item-title>
                                            <v-list-item-subtitle v-if="student.gender == 'male'"><v-icon color="red lighten-2">mdi-human-male</v-icon></v-list-item-subtitle>
                                            <v-list-item-subtitle v-if="student.gender == 'female'"><v-icon color="red lighten-2">mdi-human-female</v-icon></v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                     <v-list-item three-line>
                                        <v-list-item-content>
                                            <v-list-item-title>Address</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.address_one}}</v-list-item-subtitle>
                                            <v-list-item-subtitle>{{ student.address_two}}</v-list-item-subtitle>
                                            <v-list-item-subtitle>{{ student.postcode }}</v-list-item-subtitle>
                                         </v-list-item-content>
                                         <v-list-item-content>
                                            <v-list-item-title>Behaviour</v-list-item-title>
                                            <v-list-item-subtitle v-if="student.behaviour === 0">
                                                <v-icon
                                                large
                                                color="#ff5722">
                                                mdi-emoticon-neutral-outline
                                                </v-icon>
                                                <p>Neutral</p>
                                            </v-list-item-subtitle>
                                            <v-list-item-subtitle v-if="student.behaviour < 0">
                                                <v-icon
                                                large
                                                color="#ff5252">
                                                mdi-emoticon-angry-outline
                                                </v-icon>
                                                <p>Bad</p>
                                            </v-list-item-subtitle>
                                            <v-list-item-subtitle v-if="student.behaviour > 0">
                                                <v-icon
                                                large
                                                color="green">
                                                mdi-emoticon-outline
                                                </v-icon>
                                                <p>Excelent</p>
                                            </v-list-item-subtitle>
                                         </v-list-item-content>
                                     </v-list-item>
                                </v-tab-item>
                                <v-tab-item value="tab-2">
                                    <v-list-item three-line v-if="student.guardian">
                                        <v-list-item-content>
                                            <v-list-item-title>First Name</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.guardian.first_name }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Last name</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.guardian.last_name }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Email</v-list-item-title>
                                            <v-list-item-subtitle><a :href="'mailto:' + student.guardian.email"> {{ student.guardian.email}}</a> </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item three-line v-if="student.guardian">
                                        <v-list-item-content>
                                            <v-list-item-title>Phone</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.guardian.phone}}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Mobile</v-list-item-title>
                                            <v-list-item-subtitle>{{ student.guardian.mobile }}</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title></v-list-item-title>
                                            <v-list-item-subtitle></v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-card-actions class="justify-center">
                                        <router-link :to="{name: 'CreateGuardianView'}" v-if="!student.guardian"><v-btn outlined color="blue">Add Parents</v-btn></router-link>
                                    </v-card-actions>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card-text>
                    </v-card>
                    <router-link to="/students">
                        <v-btn class="mr-4 mt-10" dark>
                            <v-icon dark left>mdi-arrow-left</v-icon>Back
                        </v-btn>
                    </router-link>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: "StudentShowView",
        props: {
            //
        },
        data: () => ({
            tab: 'tab-1',
            guardian: []
        }),
        methods: {
        },
        computed: {
            student() {
                let id = this.$route.params.id;
                if (!_.isEmpty(this.$store.state.students.students) && this.$store.state.students.students !== undefined) {
                    return _.filter((this.$store.state.students.students || []), function(o) {
                            return o.id === id;
                        }
                    )[0];
                }

                return {};
            },
            
            loading() {
                return !Object.keys(this.student).length;
            }
        },
        created () {
            if (this.$route.params.tab !== undefined) {
                switch (this.$route.params.tab) {
                    case 'Details':
                        this.tab = 'tab-2';
                        break;
                    case 'Parents':
                        this.tab = 'tab-3';
                        break;
                    case 'support':
                        this.tab = 'tab-4';
                        break;
                    default:
                        this.tab = 'tab-1';
                }
            }
        }
    }
</script>

<style scoped>
    p {
        margin-top: 10px;
    }
    a {  
    text-decoration: none;
    }
</style>