<template>
    <div id='NotFoundView' class="justify-center align-center">
        <h1 class="color-3d">404</h1>
        <h2 class="color-3d">{{ phrase }}</h2>
        <v-btn @click="$router.back()" color="primary"><v-icon>mdi-arrow-left</v-icon> Back to safety</v-btn>
    </div>
</template>
<script>
    export default {
        name: 'NotFoundView',
        props: {
            //
        },
        data: () => ({
            phrases: [
                "This is not the page you are looking for.",
                "Page not found.",
                "Whoops, wrong page!",
                "Uh, Oh!",
                "Sorry about that!",
                "This is embarrassing...",
                "Did you break something?...",
                "Are you lost?",
                "Another trusty dev team product!",
                "Blame the code monkeys.",
            ],
            phrase: ''
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            this.phrase = this.phrases[_.random(this.phrases.length - 1)]
        }
    }
</script>
<style lang='scss'>
    #NotFoundView {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 0;
        h1 {
            margin-bottom: 0;
            font-size: 10vh;
        }
        h2 {
            font-size: 5vh;
        }
        .color-3d {
            color: rgb(24, 103, 192);
            text-transform: uppercase;
            font-weight: bold;background-color: rgb(0, 36, 77);
            color: transparent;
            text-shadow: -1px 1px 9px rgba(25, 90, 164, 0.68);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }
    }
</style>