<template>
  <v-app id="AppViewComponent">
  <v-navigation-drawer
        v-model="drawer"
        app
        color="#121217"
    >
        <v-list dense>
            <v-list-item
                v-for="item in items"
                :key="item.title"
                link
                :to="{ name: item.route }"
            >
                <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title clss="title">
                        {{ item.title }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <template v-slot:append>
            <div class="pa-2">
                <a
                    :href="URLs.core.auth.logout"
                    onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();"
                >
                    <v-btn block>Logout</v-btn>
                </a>
            </div>

            <form
                id="logout-form"
                :action="URLs.core.auth.logout"
                method="POST"
                style="display: none;"
            >@csrf</form>
        </template>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="#121217"
      dark
    >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-row>
            <v-col class="text-right">
                <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                            <v-icon dark large>mdi-account-circle</v-icon>
                        </v-btn>
                    </template>
                    <v-card>
                        <v-list>
                        <v-list-item>
                            <v-row>
                                <v-col>
                                    <v-list-item-action>
                                        <a
                                            :href="URLs.core.auth.logout"
                                            onclick="event.preventDefault();
                                            document.getElementById('logout-form').submit();"
                                        >
                                            <v-btn
                                                >
                                                Logout
                                            </v-btn>
                                        </a>
                                    </v-list-item-action>
                                </v-col>
                                <v-col>
                                    <v-list-item-action>
                                        <router-link to="/users">
                                            <v-btn
                                                >
                                                Profile
                                            </v-btn>
                                        </router-link>
                                    </v-list-item-action>
                                </v-col>
                            </v-row>
                        </v-list-item>
                        </v-list>
                    </v-card>
                    </v-menu>
                </v-col>
            </v-row>
        </v-app-bar>
    <v-main>
    </v-main>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: "AppViewComponent",
    props: {
      source: String,
    },
    data: () => ({
      drawer: true,
      loggedInUser: [],
      menu: false,
      message: false,
      hints: true,
      items: [
         {
            title: "Dashboard",
            icon: "mdi-desktop-mac-dashboard",
            route: "dashboard"
        },
        {
            title: "Timetable",
            icon: "mdi-calendar-clock",
            route: "timetable"
        },
        {
            title: "Exams",
            icon: "mdi-teach",
            route: "ExamView"
        },
        {
            title: "Students",
            icon: "mdi-human-male-female",
            route: "StudentView"
        },
        {
            title: "Attendance",
            icon: "mdi-google-classroom",
            route: "AttendanceView"
        },
        {
            title: "Behaviour",
            icon: "mdi-kabaddi",
            route: "BehaviourView"
        },
        {
            title: "Guardians",
            icon: "mdi-account-group",
            route: "GuardiansView"
        },
        {
            title: "Classes",
            icon: "mdi-book-open",
            route: "SubjectsView"
        },
        {
            title: "Profile",
            icon: "mdi-account-circle",
            route: "UserView"
        },
      ]
    }),
    created() {
      axios.post('api/users/profile').then(
        response => {
          this.loggedInUser = response.data;
        }
      );
    },
    // created () {
    //   this.$vuetify.theme.dark = true
    // },
  }
</script>

<style scoped>
a {  
  text-decoration: none;
}
.v-list-item__title{
  color: white;
  font-weight: bold !important;
}
.v-icon{
   color: white;
}
</style>
