<template>
  <div id="DashboardViewComponent">
        
        <v-container fluid>
            <v-row dense>
                <v-col
                    v-for="card in cards"
                    :key="card.title"
                    :cols="card.flex"
                >
                <v-card color="#00a65a">
                    <v-card-text>
                        {{card.current}}
                        <v-icon>{{ card.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="card.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'StudentView'}">
                                <v-btn icon>
                                    <v-icon>
                                        mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
                <v-col
                    v-for="student in students"
                    :key="student.title"
                    :cols="student.flex"
                >
                <v-card color="#f39c11">
                    <v-card-text>
                        {{student.current}}
                        <v-icon>{{ student.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="student.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'StudentView'}">
                                <v-btn icon>
                                    <v-icon>
                                        mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
                <v-col
                    v-for="parent in parents"
                    :key="parent.title"
                    :cols="parent.flex"
                >
                <v-card color="#3490dc">
                    <v-card-text>
                        {{parent.current}}
                        <v-icon>{{ parent.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="parent.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'GuardiansView'}">
                                <v-btn icon>
                                    <v-icon>
                                        mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
                <v-col
                    v-for="subject in subjects"
                    :key="subject.title"
                    :cols="subject.flex"
                >
                <v-card color="#006598">
                    <v-card-text>
                        {{subject.current}}
                        <v-icon>{{ subject.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="subject.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'SubjectsView'}">
                                <v-btn icon>
                                    <v-icon>
                                    mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
                <v-col
                    v-for="task in tasks"
                    :key="task.title"
                    :cols="task.flex"
                >
                <v-card color="#cb04bb">
                    <v-card-text>
                        {{task.current}}
                        <v-icon>{{ task.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="task.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'assignments.view'}">
                                <v-btn icon>
                                    <v-icon>
                                        mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
                <v-col
                    v-for="event in events"
                    :key="event.title"
                    :cols="event.flex"
                >
                <v-card color="#669900">
                    <v-card-text>
                        {{event.current}}
                        <v-icon>{{ event.icon }}</v-icon>
                    </v-card-text>
                    <v-card-title v-text="event.title"></v-card-title>
                        <v-col class="text-right column">
                            <router-link :to="{name: 'events.view'}">
                                <v-btn icon>
                                    <v-icon>
                                        mdi-arrow-right-circle
                                    </v-icon>
                                </v-btn>
                            </router-link>
                        </v-col>
                </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name: 'DashboardViewComponent',
    props: {
       //
    },
     data: () => ({
        //
    }),

    method: {
        //
    },
    computed: {
        cards: function () {
            return [
                { 
                    title: 'Number of Teachers', 
                    flex: 4,
                    icon: "mdi-teach", 
                    current: _.filter((this.$store.state.users.users || [])).length, 
                    showGraph: true, 
                    graph: false
                },
            ]
        },
        students: function () {
            return [
                { 
                    title: 'Number of Student', 
                    flex: 4, 
                    icon: "mdi-human-male-female",
                    current: _.filter((this.$store.state.students.students || [])).length, 
                    showGraph: true, 
                    graph: false,
                },
            ]
        },
        parents: function () {
            return [
                { 
                    title: 'Number of Parents', 
                    flex: 4, 
                    icon: "mdi-account-group",
                    current: _.filter((this.$store.state.guardians.guardians || [])).length, 
                    showGraph: true, 
                    graph: false
                },
            ]
        },
        subjects: function () {
            return [
                { 
                    title: 'Number of Subjects', 
                    flex: 4, 
                    icon: "mdi-book-open-outline",
                    current: _.filter((this.$store.state.subjects.subjects || [])).length, 
                    showGraph: true, 
                    graph: false
                },
            ]
        },
        tasks: function () {
            return [
                { 
                    title: 'Number of Tasks', 
                    flex: 4, 
                    icon: "mdi-book-open-variant",
                    current: _.filter((this.$store.state.assignments.assignments || [])).length, 
                    showGraph: true, 
                    graph: false
                },
            ]
        },
        events: function () {
            return [
                { 
                    title: 'Number of Events', 
                    flex: 4, 
                    icon: "mdi-calendar",
                    current: _.filter((this.$store.state.events.events || [])).length, 
                    showGraph: true, 
                    graph: false
                },
            ]
        },
    },
}
</script>

<style scoped>
#DashboardViewComponent{
    margin-top: 20px;
}
.dashboard {
    display: flex;
}
.dashboard2 {
    display: flex;
    margin-top: 20px;
}
.v-card__title{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.v-card__text{
    color: white !important;
    font-size: 40px !important;
}
.tasks{
    margin-top: 20px;
}
.v-data-table .v-data-table-header{
    background-color: #c24984 !important;
    color: white !important;
}
.column{
    margin-bottom: 10px;
}
</style>