<template>
    <h1> Welcome to your Dashboard</h1>
</template>

<script>
    export default {
        name: 'DashboardView',
        props: {
            //
        },
        data: () => ({
            //
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #DashboardView {
        //
    }
</style>