<template>
    <v-app id="StudentView">
        <v-navigation-drawer
            v-model="drawer"
            app
            color="blue-grey lighten-5"
        >
            <v-list dense>
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                    :to="{ name: item.route }"
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.title }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <template v-slot:append>
                <div class="pa-2">
                    <a
                        :href="URLs.core.auth.logout"
                        onclick="event.preventDefault();
                                document.getElementById('logout-form').submit();"
                    >
                        <v-btn block>Logout</v-btn>
                    </a>
                </div>
                <form
                    id="logout-form"
                    :action="URLs.core.auth.logout"
                    method="POST"
                    style="display: none;"
                >@csrf</form>
            </template>
        </v-navigation-drawer>
    <v-app-bar
      app
      color="blue"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>SimTech</v-toolbar-title>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer
      app
    >
    </v-footer>
  </v-app>
</template>
<script>
    export default {
        name: 'StudentView',
        props: {
            //
        },
        data: () => ({
            drawer: false,
            items: [
                 {
                    title: "Dashboard",
                    icon: "mdi-view-dashboard",
                    route: "student.dashboard"
                },
                {
                    title: "Classes",
                    icon: "mdi-view-dashboard",
                    route: "SubjectView"
                },
            ]
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #StudentView {
        //
    }
</style>