<template>
    <div id='SubjectView'>
        <h1>Subjects</h1>
    </div>
</template>
<script>
    export default {
        name: 'SubjectView',
        props: {
            //
        },
        data: () => ({
            //
        }),
        methods: {
            //
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #SubjectView {
        //
    }
</style>