<template>
    <div id='AssignmentView'>
        <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <router-link :to="{name: 'assignments.create'}"><v-btn outlined text><v-icon small>mdi-plus</v-icon>Create</v-btn></router-link>
                        </v-card-actions>
                        <v-card-title>Assignments</v-card-title>
                        <v-card-text>
                            <v-data-table
                                :headers="assignmentTable.headers"
                                :items="assignmentTable.items"
                                class="elevation-1"
                            >
                             <template v-slot:item.action="{ item }">
                                <v-btn icon>
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                    mdi-eye
                                    </v-icon>
                                </v-btn>
                                <v-btn icon>
                                    <v-icon
                                    small
                                    class="mr-2"
                                    color="blue"
                                    >
                                    mdi-pencil
                                    </v-icon>
                                </v-btn>
                                <v-btn  icon>
                                    <v-icon
                                        small
                                        class="mr-2"
                                        color="red"
                                    >
                                    mdi-trash-can-outline
                                    </v-icon>
                                </v-btn>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: 'AssignmentView',
        props: {
           //
        },
        data: () => ({
           //
        }),
        methods: {
            //
        },
        computed: {
            loadAssignments() {
              return (this.$store.state.assignments.assignments || []);
            },
            assignmentTable () {
                return{
                headers: [
                    { text: 'Title', value: 'title' },
                    { text: 'Assignment', value: 'body' },
                    { text: 'Due Date', value: 'due_date' },
                    { text: 'Action', value: 'action' },
                ],
                items: (this.$store.state.assignments.assignments || []),
                }
            },
        },
        created () {
           
        }
    }
</script>
<style lang='scss'>
    #AssignmentView {
        //
    }
</style>