<template>
    <div id='AssignmentCreate'>
        <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-title>New Assignments</v-card-title>
                        <v-card-text>
                            <form>
                                <v-row>
                                     <v-col class="d-flex" cols="12" sm="6" md="3">
                                        <v-autocomplete
                                            v-model="newAssignment.subject_id"
                                            :items="$store.state.subjects.subjects"
                                            item-text="subject_name"
                                            item-value="id"
                                            :rules="Rules.required"
                                            label="Subject"
                                        ></v-autocomplete>
                                    </v-col>
                                    <v-col cols="6" sm="4">
                                        <v-text-field
                                            v-model="newAssignment.title"
                                            :counter="8"
                                            required
                                            label="Title"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="4">
                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :return-value.sync="date"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newAssignment.due_date"
                                                label="Due Date"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="newAssignment.due_date" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="6" sm="6">
                                        <v-textarea
                                            v-model="newAssignment.body"
                                            label="Details"
                                            counter
                                            maxlength="120"
                                            full-width
                                            single-line
                                        >
                                        </v-textarea>
                                    </v-col>
                                </v-row>
                                 <v-col cols="6" sm="4"> 
                                        <v-btn
                                        small
                                        color="red"
                                        @click="createAssignment"
                                        >
                                        Submit
                                        </v-btn>
                                    </v-col>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: 'AssignmentCreate',
        props: {
            //
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,
                valid: false,
            newAssignment: {
                title: '',
                body: '',
                due_date: '',
                subject_id: ''
            }
        }),
        methods: {
            createAssignment() {
                let self = this;
                axios.post(self.URLs.core.assignments.root, this.newAssignment).then(
                    response => {
                      //
                    }
                )
            }
        },
        computed: {
            subjects: function () {
                return _.sortBy((this.$store.state.subjects.subjects || []), ['subject_name']);
            },
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #AssignmentCreate {
        //
    }
</style>