<template>
    <div id='CreateUser'>
        <v-text-field class="createStudentLoader" color="light-blue" :loading="loading" disabled></v-text-field>
        <error-component
            v-for="(error, key) in errors"
            :key="key"
            :message="error"
        ></error-component>
         <v-card-title>
           New User
        </v-card-title>
        <v-form ref="createUserForm" v-model="valid" id="signup-form" @submit="createUser" method="POST">
            <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
                <span>{{snackbarText}}</span>
                <v-btn flat color="white">Close</v-btn>
            </v-snackbar>
            <v-snackbar v-model="error" :timeout="4000" top color="error">
                <span>{{ errorText }}</span>
                <v-btn flat color="white">Close</v-btn>
            </v-snackbar>
            <v-container>
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newUser.name"
                            label="First Name"
                            :rules="Rules.required"
                            required
                        ></v-text-field>
                    </v-col>
                     <v-col cols="6">
                     <v-text-field
                            v-model="newUser.email"
                            :counter="30"
                            label="Email"
                            :rules="Rules.required"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field
                            v-model="newUser.password"
                            :counter="30"
                            label="Password"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-btn
                          :disabled="!valid || loading"
                          color="success"
                          class="mr-4"
                          @click="createUser"
                      >Submit</v-btn>
                   </v-col>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>
<script>
    export default {
        name: 'CreateUserView',
        props: {
            teams: {
                type: Array
            }
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,
            items: [
                'Male',
                'Female',
                'Other'
            ],
            snackbar: false,
            snackbarText: '',
            error: false,
            errorText: '',
            valid: false,
            loading: false,
            errors: [],
            newUser: {
                name: '',
                email: '',
                password: '',
            },
           
        }),
        methods: {
            createUser () {
              let self = this;
              self.loading = true;
              self.$store.dispatch('users/addUser', self.newUser)
              .then(() =>{
                    this.snackbar = true;
                    this.snackbarText = "User Created";
                    self.$router.push('/users');
              }).catch(error => {
                    this.errorText = "Failed to create user";
                    this. error = true;
              });
            },
            discard () {
                this.$refs.createUserForm.reset();
            },
        },
        computed: {
            //
        },
        created () {
            // this.newStudent.password = this.randomString(12);
        }
    }
</script>
<style lang='scss'>
    .createStudentLoader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;

        &.v-text-field>.v-input__control>.v-input__slot:before {
            border-style: none;
        }
        &.v-text-field>.v-input__control>.v-input__slot:after {
            border-style: none;
        }
    }
</style>
