<template>
    <div id="TicketIndexView">
        <v-container fluid>
                <v-card class="mx-auto" max-width="344">
                    <v-img
                      height="100%"
                      src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
                    >
                    <v-row
                        align="end"
                        class="fill-height"
                    >
                    <v-col
                      align-self="start"
                      class="pa-0"
                      cols="12"
                    >
                    <v-avatar
                      class="profile"
                      color="grey"
                      size="164"
                      tile
                    >
                    <v-img src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
                    </v-avatar>
                    </v-col>
                    <v-col class="py-0">
                          <v-list-item
                            color="rgba(0, 0, 0, .4)"
                            dark
                          >
                            <v-list-item-content>
                              <v-list-item-title class="title">{{loggedInUser.name}}</v-list-item-title>
                              <v-list-item-subtitle>Network Engineer</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                    </v-col>
                  </v-row>
                  </v-img>
                </v-card>
        </v-container>
        <v-card class="mx-auto">
          <v-tabs  background-color="transparent"
            color="#f39c11"
            grow>
            <v-tab>
              <v-icon left>mdi-card-account-phone</v-icon>
              Contact Information
            </v-tab>
            <v-tab>
              <v-icon left>mdi-information-variant</v-icon>
            Additional Information
            </v-tab>
            <v-tab>
              <v-icon left>mdi-account-cog-outline</v-icon>
              Settings
            </v-tab>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <p class="text-uppercase font-weight-black text-center">Contact Information</p>
                  <p text-sm-left subtitle-2 class="text-center"><b>Name:</b> {{loggedInUser.name}} </p>
                  <p text-sm-left subtitle-2 class="text-center"><b>Contact Email:</b> {{loggedInUser.email}}</p>
                  <p text-sm-left subtitle-2 class="text-center"><b>Mobile Contact:</b> 07999994863</p>
                  <p text-sm-left subtitle-2 class="text-center"><b>DepartMent:</b> P.E</p>
                  <p text-sm-left subtitle-2 class="text-center"><b>Extention Number:</b> 073</p>
                  <p class="text-sm-right">Edit<v-btn icon><v-icon small color="#3490dc">mdi-pencil</v-icon></v-btn></p>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <p class="text-uppercase font-weight-black text-center">Aditional information</p>
                    <p class="text-center"><b>Birthday:</b> 07/05/2020 </p>
                    <p text-sm-left subtitle-2 class="text-center"><b>Supervisor:</b> Jacob More</p>
                    <p text-sm-left subtitle-2 class="text-center"><b>Tutor Group:</b> Year 9</p>
                    <p class="text-sm-right">Edit<v-btn icon><v-icon small color="#3490dc">mdi-pencil</v-icon></v-btn></p>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <p class="text-uppercase font-weight-black text-center">Settings</p>
                  <v-container>
                      <v-row class="ma-0 pa-0">
                        <v-col cols="6" class="ma-0 pa-0">
                        <v-list-item two-line>
                          <v-list-item-content>
                            <v-list-item-title>Notification</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        </v-col>
                        <v-col cols="6" class="ma-0 pa-0">
                        <v-switch v-model="settings.notification" inset label="Turn off">"></v-switch>
                        </v-col>
                        <v-col cols="6" class="ma-0 pa-0">
                        <v-list-item two-line>
                          <v-list-item-content>
                            <v-list-item-title>Birthday Reminder</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        </v-col>
                        <v-col cols="6" class="ma-0 pa-0">
                           <v-switch v-model="settings.birthday" inset label="Turn off">"></v-switch>
                        </v-col>
                         <v-col cols="6" class="ma-0 pa-0">
                            <v-switch
                              v-model="$vuetify.theme.dark"
                              hide-details
                              inset
                              label="Theme Dark"
                            ></v-switch>
                         </v-col>
                      </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
        <div class="divide">
          <v-card class="mx-auto">
            <v-card-text>
                <p class="text-uppercase font-weight-black text-center">Assignments</p>
                <p class="text-center"><b>Birthday:</b> 07/05/2020 </p>
                <p text-sm-left subtitle-2 class="text-center"><b>Supervisor:</b> Jacob More</p>
                <p text-sm-left subtitle-2 class="text-center"><b>Tutor Group:</b> Year 9</p>
                <p class="text-sm-right">Edit<v-btn icon><v-icon small color="#3490dc">mdi-pencil</v-icon></v-btn></p>
            </v-card-text>
          </v-card>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      attrs: {
        type: Object,
        default: () => ({}),
      },
    },
    name: "UserView",
    data: vm => ({
      show: false,
      loggedInUser: [],
      settings: {
        notifications: false,
        birthday: false,
      },
      initialDark: vm.$vuetify
        ? vm.$vuetify.theme.dark
        : false,
    }),

    watch: {
      initialDark: function(){
        localStorage.setItem("initialDark", JSON.stringify(this.initialDark));
      }
    },
    created() {
      this.initialDark = JSON.parse(localStorage.getItem("initialDark"));
    },
    beforeDestroy () {
      if (!this.$vuetify) return

      this.$vuetify.theme.dark = this.initialDark
    },

    methods: {
      //
    },
    created() {
      axios.post('api/users/profile').then(
        response => {
          this.loggedInUser = response.data;
        }
      );
    },

    computed: {
      //
    }
  }
</script>

<style>
  .background {
    margin-top: 20px;
    margin-left: 30%;
  }
  .col-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .basil {
  background-color:#3490dc !important;
}
.basil--text {
  color: #3490dc !important;
}

.divide {
  margin-top: 20px;
}

</style>