<template>
  <v-container fluid>
    <v-row dense justify="center">
      <v-col cols="3" class="centerered">
        <v-autocomplete
              v-model="subject_id"
              :items="$store.state.subjects.subjects"
              item-text="subject_name"
              item-value="id"
              :rules="Rules.required"
              label="Subject"
              @change="getRegister(subject_id)"
        ></v-autocomplete>
      </v-col>
      <v-col cols="12" v-if="attendances.length">
        <v-card class="mb-4">
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn outlined text :disabled="loading">Print</v-btn>
            </v-card-actions>
              <v-card-text>
                <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                <v-data-table
                  :headers="attendanceTable.headers"
                  :items="attendanceTable.classRegister"
                >
                  <template v-slot:item.register="{ item }">
                    <v-row>
                      <v-col cols="12" v-for="attend in attendances" :key="attend">
                        <p class="text-uppercase font-weight-black attend"> {{attend.register}}</p>
                      </v-col>
                    </v-row>
                  </template>
                </v-data-table>
              </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <p class="font-weight-black text-center name" v-if="text">Select Subject To see Attendance</p>
    <p class="font-weight-black text-center name" v-if="!text && !attendances.length">No Attendance Available for This Subject</p>
  </v-container>
</template>

<script>
  export default {
    name: 'AttendanceView',
      props: {
            //
        },
    data: () => ({
      subject_id: '',
      attendances: [],
      classRegister: [],
      text: true,
    }),

    methods: {
      getRegister(subject_id) {
          this.subject_id = subject_id;
          axios.post('api/attendances/getAttendance', {"subject_id": subject_id})
          .then(
              response => {
                this.text = false
                return this.attendances = response.data;         
              }
          );
          this.subject_id = subject_id;
          axios.post('api/attendances/getRegister', {"subject_id": subject_id})
          .then(
              response => {
                this.text = false
                  return this.classRegister = response.data;
              }
          );
      }
    },
    computed: {
      attendanceTable() {
        return{
          headers: [
              { text: 'First Name', value: 'first_name' },
              { text: 'Last Name', value: 'last_name' },
              { text: 'Register', value: 'register' },
          ],
          classRegister: (this.classRegister || [])
        }
      },
      loading() {
        return (
            _.isEmpty(this.$store.state.guardians.guardians)
        );
      }
    },
    created() {
     this.subject_id = subject_id;
     this.attendances = attendances
    },
  }
</script>

<style scoped>
.v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 
      inset 0 4px 8px -5px rgba(50,50,50,.5),
      inset 5px 0 8px -5px rgba(236, 236, 236, 0.822), 
      inset 0 -4px 8px -5px rgba(50,50,50,.5), 
      inset -5px 0 8px -5px rgba(236, 236, 236, 0.822);
    background-color: #eee;
}
li a {
        text-decoration: none;
     }
a {  
    text-decoration: none;
  }
  .name{
    margin-top: 10%;
  }

  .attend{
    color: red;
  }
</style>