<template>
    <div id='CalendarCreateView'>
         <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-title>New Event</v-card-title>
                        <v-card-text>
                            <form ref="createEventForm">
                                <v-row>
                                    <v-col class="d-flex" cols="12" sm="6">
                                        <v-text-field
                                            v-model="newEvent.event_name"
                                            :counter="8"
                                            required
                                            label="Title"
                                            single-line
                                            filled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :return-value.sync="date"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newEvent.event_date"
                                                label="Date Date"
                                                readonly
                                                :masks="{ input: ['DD/MM/YY']}"
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="newEvent.event_date" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="modal2"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            :return-value.sync="time"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newEvent.event_start_time"
                                                label="Start Time"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-time-picker
                                            v-if="modal2"
                                            v-model="newEvent.event_start_time"
                                            full-width
                                            @click:minute="$refs.menu.save(time)"
                                            ></v-time-picker>
                                        </v-menu>
                                    </v-col>
                                     <v-col cols="12" sm="6">
                                        <v-menu
                                            ref="menu"
                                            v-model="modal3"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            :return-value.sync="time"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="newEvent.event_end_time"
                                                label="End Time"
                                                readonly
                                                v-on="on"
                                                single-line
                                                filled
                                            ></v-text-field>
                                            </template>
                                            <v-time-picker
                                            v-if="modal3"
                                            v-model="newEvent.event_end_time"
                                            full-width
                                            @click:minute="$refs.menu.save(time)"
                                            ></v-time-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="6" sm="6">
                                        <v-textarea
                                            v-model="newEvent.event_details"
                                            required
                                            label="Event Details"
                                            single-line
                                            filled
                                        ></v-textarea>
                                    </v-col>
                                    <v-col cols="6">
                                          <v-checkbox v-if="select" v-model="newEvent.email_option" class="mx-2" label="Send Emails to Parents"></v-checkbox>
                                    </v-col>
                                </v-row>
                                 <v-col cols="6" sm="4">
                                    <v-btn class="mr-4" 
                                        dark
                                        @click="createEvent"
                                        >
                                        Submit
                                    </v-btn>
                                </v-col>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
    export default {
        name: 'CalendarCreateView',
        props: {
            //
        },
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            menu2: false,
            valid: false,
            modal2: false,
            modal3: false,
            time: null,
            newEvent: {
                event_name: '',
                event_details: '',
                event_date: '',
                event_start_time: '',
                event_end_time: '',
                email_option: false
            }
        }),
        methods: {
            createEvent() {
                let self = this;
                axios.post(self.URLs.core.events.root, this.newEvent).then(
                    response => {
                        self.$store.dispatch('events/addEvent', response.data);
                        self.$refs.createEventForm.reset();
                        self.$router.push('/events');
                    }
                )
            },
            select() {
                this.newEvent.email_option = true;
            }
        },
        computed: {
            //
        },
        created () {
            //
        }
    }
</script>
<style lang='scss'>
    #CalendarCreateView {
        //
    }
</style>