<template>
    <div id='CalendarView'>
        <v-container fluid>
            <v-row dense>
                <v-col cols="12">
                    <v-card class="mb-4">
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <router-link :to="{name: 'events.create'}"><v-btn outlined text><v-icon small>mdi-plus</v-icon>Create</v-btn></router-link>
                        </v-card-actions>
                        <v-card-title>Calendar</v-card-title>
                        <v-card-text>
                             <FullCalendar
                                @dateClick="handleDateClick"
                                defaultView="dayGridMonth"
                                :plugins="calendarPlugins"
                                :events="calendarEvents"
                                :header="{
                                    left:'title',
                                    center:'dayGridMonth, timeGridWeek, timeGridDay',
                                    right: 'prev, today, next'
                                }"
                                :buttonText="{
                                    today: 'Today',
                                    month: 'Month',
                                    week: 'Week',
                                    day: 'Day'
                                    }"
                                :selectable="true"
                              />
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from "@fullcalendar/interaction"
import {mapGetters} from 'vuex'

    export default {
        components: {
            FullCalendar // make the <FullCalendar> tag available
        },
        name: 'CalendarView',
        props: {
            events: Object
        },
        data: () => ({
            calendarPlugins: [ dayGridPlugin, interactionPlugin, timeGridPlugin ],
            calendarEvents: []
        }),
        methods: {
            handleDateClick(arg) {
                alert(arg.date)
            },
            getEvents() {
                let self = this;
                axios.get(self.URLs.core.events.root)
                .then(
                    response => {
                        self.calendarEvents = response.data;
                    },
                );
            }
        },
        computed: {
            eventsList(events){
                 return this.events
            }
        },
        created () {
           this.events = this.getEvents();
        },

    }
</script>
<style lang='scss'>
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
    .fc-title {
        color:white;
    }
    .fc-title:hover {
    cursor: pointer;
    }
    #CalendarView {
        //
    }
</style>